body {
	font-family: 'Open Sans', sans-serif;

	background-image: url("/img/bg-green-noise-1.png");
}

body p, body h1 {
	color: white;
}

section {
	padding-top: 2em;
	padding-bottom: 2em;
}

.navbar {
	margin-bottom: 0;
}

.navbar-toggle {
	/* override bootstrap's right floating of the navbar toggle */
	float: left;
	margin-left: 15px;
}

body section:first-of-type {
	background-image: url("/img/tiles-1.jpg");
	background-size: cover;
}

img.logo {
	/* TODO: less (inherit from img-responsive) */
	float: left;
	width: 50%;
	/*border-radius: 5px;*/
}

.intro {
	text-align: center;
}

.intro h1 {
	font-family: Oswald, serif;
	text-shadow: 2px 2px 1px gray;
}

.intro h3 {
	margin-bottom: 1.5em;
	margin-top: 0.8em;
}

h1 {
	font-family: "Han Zi Regular";
	text-shadow: 2px 2px 3px black, -2px -2px 3px black;
}

p a {
	color: white;
	border-bottom: 1px white dotted;
	text-decoration: none;
}
p a:hover {
	color: white;
	border-bottom: 1px white solid;
	text-decoration: none;
}
a[role=button] { text-decoration: none; }


section#about-mahjong div.ornament {
	margin-top: -2em;
	float: right;
	width: 1px;
	height: 1px;
	overflow: visible;
}
section#about-mahjong div.ornament img { margin-left: -382px; }

#contacts {
	background-image: url("/img/riichi-photo-1.jpg");
	color: white;

	height: 100%;

	font-weight: 600;
	text-shadow: 2px -2px 5px #a4e4b5, -2px 2px 5px #a4e4b5;
}

#contacts div.media { margin-bottom: 15px }
#contacts div.media h4 { margin-bottom: .8em }
#contacts div.media p { margin-bottom: .2em }
#contacts div.media p {
	font-family: 'Droid Sans Mono';
}

#contacts div.row { margin-top: 2em; margin-bottom: 10em; }
#contacts div.row .container { width: 100%; }

h1 { font-family: "Han Zi Regular"; }

.socnets-cell {
	background-color: transparent;
	text-align: center;

	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.socnets-cell a {
	color: white;
}

.socnets-cell img {
	padding-bottom: 0.8em;
}

